---
name: Lint Code Base

#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

on:
  # Run on pull request open, reopen, and synchronize
  pull_request:
     branches: [main]

  # Run when manually triggered
  workflow_dispatch:


jobs:
  build:
    # Name the Job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-20.04

    steps:
      # Checkout the code base
      - name: Checkout Code
        uses: actions/checkout@v2

      # Run Linter against code base
      - name: Lint Code Base
        uses: docker://ghcr.io/github/super-linter:v3
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
